html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

.box {
    position: relative;
    width: 100%;
    background-color: #e3e4e5;
}

.w {
    width: 1170px;
    margin: 0 auto;
    background-color: #e3e4e5;
}

.w>nav>ul>li {
    float: left;
    font-size: 12px;
    line-height: 30px;
    color: #999999;
    position: relative;
}


/* .w>nav>ul>li:hover>.dropdown {
    display: block;
} */

.w>nav>ul>li>div>a {
    color: #999;
}

span {
    color: red;
}

.lis {
    width: 1px;
    height: 10px;
    border-left: 1px solid red;
    margin: 10px 0 0 0;
}

.w-px {
    padding: 0 20px;
}

.dropdown {
    width: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    z-index: 1;
    border: 1px solid #e3e4e5;
}


/* .my-jd {
    border: 1px solid #888;
} */

.my-jd ul {
    float: left;
    width: 120px;
}


/* 采购 */

.caigou {
    width: 150px;
    /* border: 1px solid #888; */
    /* text-align: center; */
}

.caigou a {
    padding: 0 10px;
}


/* 客服 */

.kefu {
    position: absolute;
    top: 30px;
    left: -88px;
    /* border: 1px solid #888; */
    width: 176px;
}

.kefu h3 {
    text-align: center;
}

.kefu a {
    padding: 0 15px;
}


/* 网站导航 */

.daohang {
    position: absolute;
    width: 1200px;
    top: 30px;
    left: -670px;
    /* display: block; */
    padding: 15px 0;
    /* border: 1px solid #888; */
    background-color: #fff;
}

.daohang>div {
    float: left;
}

.daohang>div li>a {
    padding-right: 40px;
}

dl {
    float: left;
    width: 255px;
    padding-left: 20px;
    border-left: 1px solid #eee;
}

.dl-1 {
    width: 340px;
}

.item {
    overflow: hidden;
    width: 85px;
    float: left;
}


/* 经过效果 */

nav .w-px {
    border: 1px solid #e3e4e5;
    border-bottom: none;
    position: relative;
    /* width: 100px; */
    z-index: 100;
}

.text {
    background-color: #fff;
    /* border: 2px solid blue; */
    border-bottom: none;
    box-sizing: border-box;
}

.k {
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 12px;
    color: #999;
    line-height: 31px;
    text-align: center;
}

.r {
    display: none;
    position: absolute;
    top: 30px;
    /* left: 150px; */
}

.k>ul>li:hover>.r {
    display: block;
    background-color: #fff;
}

.k>ul>li {
    width: 30px;
    z-index: 100;
    border: 1px solid #e3e4e5;
    border-bottom: none;
}

.k>ul>li:hover {
    background-color: #fff;
}

.r>ul {
    width: 30px;
    /* height: 100px; */
    border: 1px solid #888;
}